backend/node_modules/
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/.DS_Store
backend/dist/
backend/build/
backend/*.log
db/docker-compose.yml
.env
.gitignore